/* Footer container */
.footer {
    background-color: #101027; /* Blue-black theme */
    color: #9deeab; /* Light greenish color for text */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Footer left section */
.footer-left {
    display: flex;
    align-items: center;
    gap: 800px;
}

/* Logo styling */
.footer-logo img {
    width: 80px; /* Adjust as needed */
    border-radius: 10px;
}

/* Links column styling */
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links p {
    margin: 0;
    color: #9deeab; /* Text color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links p:hover {
    color: #A4D7E1; /* Hover color */
}
